:host {
  upscale-product-list {
    background-color: white;
  }
}

.divider {
  border-bottom: solid 1px #F5EDF0;
}

.guided-filter {
  background: white;

  &-trigger {
    &:hover {
      background-color: #F5EDF0;
    }
    background: white;
  }
}
