// overrides
body {
  background-color: white;
  color: #1A1919;
}

// custom
.usp-container {
  background-color: #F5EDF0;
  max-width: 1500px;
  width: 85%;
  margin: 0 auto;

  button {
    @include button($background-color: #E63947);
    height: 40px;
    width: 150px;
    font-weight: 500;
  }
}


.footer-container {
  display: flex;
  background-color: #1C3557;
  max-width: 1500px;
  margin: 0 auto;
  font-weight: 300;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
  }

  .right {
    text-align: right;

    div {
      margin: 5px 10px;
    }
  }

  a {
    color: #FFFFFF;
    margin: 5px 10px;
  }
}

