:host {
  nav {
    ul {
      li {
        a {
          background-color: transparent;
          color: black;
          padding: 0 20px 0 0;

          &:hover {
            color: #E63947;
            background-color: transparent;
          }
        }
      }
    }
  }
}

